@import "../helpers/_variables.scss";

.card {
  color: #747474;
}
.header {
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 0;
  padding-bottom: 0;
  background: #fff;
}

.footer {
  background: $secondary;
  border-top: 0;
  padding: 0.5rem;

  svg {
    margin-right: 8px;
    stroke: #5f5f5f;
    stroke-width: 2rem;
    color: #fff;
  }
}
.body {
  max-height: 400px;
  overflow-x: auto;

  a {
    text-decoration: underline;
    color: $link
  }
}
.comments {
  max-height: 400px;
  overflow-x: auto;

}

.btn {
  font-size: 1rem;
  font-weight: 600;
  color: $text-secondary;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;

  &:hover {
    color: $primary;
    text-decoration: none;
    background-color: $secondary;
  }

  &:active {
    box-shadow: none;
    background-color: $secondary;
    border: 1px solid;
  }

  &:focus {
    text-decoration: none;
    background-color: inherit;
  }

  &:active:focus {
    background-color: #fff;
    box-shadow: none;
  }
}
